.header {
  height: 2.1875rem;
  line-height: 1.0625rem;
}

.header_color {
  background: $black;
}

.header__search {
  margin-top: 0.5rem;
  margin-bottom: 0.4375rem;
  margin-right: 2rem;
  position: relative;
  padding-left: 2rem;
  max-width: 9rem;

  @include fa-icon;

  @extend .fas;

  &::before {
    content: fa-content($fa-var-search);
    position: absolute;
    color: $white;
    left: calculaterem(5px);
    top: calculaterem(5px);
    font-size: calculaterem(15px);
  }
}

.header__profile {
  padding: 0 3rem;
}

.header__login,
.header__logout,
.header__profile {
  margin-top: 0.5625rem;
  margin-bottom: 0.3125rem;
  color: $white;

  &:focus,
  &:hover, {
    color: $gray;
  }
}

.header__input {
  width: 100%;
  line-height: 21px;
}
