@import 'fonts';
@import 'reset';
@import 'color';
@import 'typography';
@import 'animations';

body {
  background-color: $white;
}

.wrapper {
  max-width: calculaterem(1366px);
  margin: 0 auto;
}
