.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calculaterem(86px);
    padding-bottom: calculaterem(100px);
    background-image: url('../images/post-background.png');
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
}

.post__body {
    width: calculaterem(672px);
}

.post__image {
    margin-top: calculaterem(70px);
}

.text {
    padding-top: calculaterem(88px);
    padding-bottom: calculaterem(100px);
}

.text__header {
    margin-bottom: calculaterem(41px);
}

.text__list {
    width: calculaterem(358px);
    list-style-position: inside; //list-style-image: url('sqpurple.gif');
    padding: calculaterem(20px);
    li {
        margin-bottom: calculaterem(39px);
    }
}

.blog-post {
    padding-top: calculaterem(100px);
    padding-bottom: calculaterem(100px);
}

.blog-post__wrapper {
    height: calculaterem(330px);
}

.blog-post__thumbnail,
.blog-post__content {
    width: calculaterem(466px);
}
