.vacancy-list {
  padding-top: calculaterem(100px);
  padding-bottom: calculaterem(83px);
  background-image: url('../images/vacancy-background.png');
  background-repeat: no-repeat;
  background-position: bottom 13rem left 0;
}

.vacancy-list__layered {
  line-height: calculaterem(20px); //1.6875rem;
  font-size: calculaterem(15px); //1.25rem;
}

.vacancy-list__pagination {
  margin-top: calculaterem(63px);
}
