.cv {
  padding-top: calculaterem(63px);
  line-height: calculaterem(24px);
  font-size: calculaterem(16px);
}

@include media-breakpoint-up(xl) {
  .cv {
    background-image: url('../images/vacancy-detail-background.png');
    background-repeat: no-repeat;
    background-position: top calculaterem(675px) right 0;
  }
}

.cv__header {
  margin-bottom: calculaterem(34px);
}

.cv__name {
  line-height: calculaterem(59px);
  font-size: calculaterem(48px);
  font-weight: 800;
  max-width: calculaterem(832px); //height: calculaterem(118px);
  margin-bottom: calculaterem(26px); //0.8%;
  word-wrap: break-word;
}

.cv__detail {
  line-height: calculaterem(25px);
  font-size: calculaterem(14px);
  max-width: calculaterem(499px);
  margin-bottom: 0.1%;
}

.cv__social-bar {
  border-top: calculaterem(2px) solid $black;
  height: calculaterem(37px);
  padding: 0.3% 0 0 0;
  margin: 0 calculaterem(15px);
}

.cv__links,
.cv__social-icons {
  margin-bottom: 3rem;
}

@include media-breakpoint-up(sm) {
  .cv__links,
  .cv__social-icons {
    margin-bottom: calculaterem(20px);
  }
}

.cv__social-icons {
  border-top: calculaterem(1px) solid $black;
  padding: 0 0 calculaterem(15px);
}

@include media-breakpoint-up(sm) {
  .cv__social-icons {
    border-top: none;
    padding: 0;
  }
}

.cv__social-icons a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/*
.cv__links {
  visibility: hidden;
}
*/

.cv__links input[type='submit'] {
  line-height: calculaterem(21px);
  font-size: calculaterem(16px);
  font-weight: 800;
  margin-right: calculaterem(12px);
  min-width: calculaterem(163px);
  font-family: $headings-font-family;
  background: transparent;
  color: $black;
  text-align: left;
  padding-left: 0;
}

.cv__link {
  line-height: 1.3125rem;
  font-size: 1rem;
  font-weight: 800;
  margin-right: 0.75rem;
  min-width: 10.1875rem;
  font-family: $headings-font-family;
}

.cv__social-text {
  line-height: calculaterem(24px);
  margin-right: calculaterem(26px);
}

.cv__social-link {
  margin-right: calculaterem(20px);
}

.cv__social-link_last {
  margin-right: 0;
}

.cv__content {
  padding-top: calculaterem(69px);
  padding-bottom: calculaterem(80px);
}

/*
.cv__profile {
  padding-left: 0;
}
*/

.cv__title {
  line-height: calculaterem(29px);
  font-size: calculaterem(22px);
  margin-bottom: calculaterem(10px);
}

.cv__blockquote {
  line-height: calculaterem(42px);
  font-size: calculaterem(32px);
  color: $purple;
  max-width: calculaterem(500px);
}

.cv__descriptions,
.cv__requirements,
.cv__duties {
  margin-bottom: calculaterem(40px);
}

.cv__text {
  margin-bottom: calculaterem(20px);
}

.cv__list {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: calculaterem(20px);
}

.cv__list-item {
  display: list-item;
}

.cv__extra-list-item {
  margin-bottom: calculaterem(20px);
}

.cv__extra-icon {
  margin-right: 6.3%;
  min-width: calculaterem(28.75px);
}

.vacancy__meta .card {
  padding: 1rem !important;
  border: none;
  margin-bottom: 1rem;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.vacancy__meta .card:hover {
  box-shadow: calculaterem(5px) calculaterem(7px) calculaterem(9px) -calculaterem(4px) rgb(158, 158, 158);
}

.vacancy__meta .card .card-block {
  padding-left: 50px;
  position: relative;
}

.vacancy__meta .card .card-block::before {
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-size: 2rem;
  color: $black;
  left: 0;
  top: calculaterem(5px);
  transition: transform 0.2s ease-in-out;
}

.vacancy__meta .card .block-1::before {
  content: "\f279";
}

.vacancy__meta .card .block-2::before {
  content: "\f273";
}

.vacancy__meta .card .block-3::before {
  content: "\f251";
}

.vacancy__meta .card .block-4::before {
  content: "\f248";
}

.vacancy__meta .card .block-5::before {
  content: "\f140";
}

.vacancy__meta .card .block-6::before {
  content: "\f073";
}

.vacancy__meta .card:hover .card-block::before {
  transform: rotate(360deg);
  transition: 0.5s all ease;
}
