.cta {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: calculaterem(80px) 0;
  background: $black;
  color: $white;
}

.cta__wrapper {
  width: calculaterem(995px);
  text-align: center;
}

.cta__text {
  max-width: calculaterem(995px);
  margin-bottom: calculaterem(24px);
}

.cta__button {
  background: $red;
  color: $white;
  width: calculaterem(144px);
  height: calculaterem(48px);
}
