.bleed__image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: calculaterem(86px);
  margin-top: calculaterem(100px);
}
