.layered__bar {
  color: $blue;
  line-height: calculaterem(29px);
  font-size: calculaterem(22px);
  margin-bottom: calculaterem(20px);
}

.layered__form {
  margin-bottom: calculaterem(20px);
  padding-left: calculaterem(10px);
}

@include media-breakpoint-up(lg) {
  .layered__form {
    padding-left: 0;
  }
  .collapse.dont-collapse-lg {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.layered__group-header {
  line-height: calculaterem(29px);
  font-size: calculaterem(22px);
  margin-bottom: calculaterem(10px);
}

.layered__group {
  display: flex;
  flex-direction: column;
  margin-bottom: calculaterem(49px);
}

.layered__field-radio-wrapper {
  margin-bottom: calculaterem(10px);
}

.layered__field-radio {
  width: calculaterem(16px); //height: calculaterem(16px);
}

.layered__field-wrap {
  width: calculaterem(259px);
  height: calculaterem(19px);
  margin-bottom: calculaterem(10px);
}

//.layered__field-checkbox-wrapper {}
.layered__field-checkbox {
  width: calculaterem(16px); //height: calculaterem(16px);
}

.layered__btn {
  color: $blue !important;
  font-weight: 800;
  line-height: calculaterem(29px) !important;
  font-size: calculaterem(16px) !important;
  text-align: left !important;
  display: inline !important;
  background: transparent !important;
  border: 0 !important;
}
