.navbar {
  //min-height: 6.3125rem;
  color: $black;
  background: $white;
  line-height: 1.3125rem;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-weight: bold;
}

/*
.navbar__container {
}

.primary-menu.show {
}
*/

.primary-menu .menu-item {
  padding: calculaterem(10px) 0;
}

@include media-breakpoint-up(lg) {
  .primary-menu .menu-item {
    padding: 0 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .primary-menu ul {
    :last-child {
      padding: 0;

      a {
        padding-right: 0 !important;
      }
    }
  }
}
