.news-grid {
  padding-top: calculaterem(95px);
  padding-bottom: calculaterem(100px);
}

.news-grid__column> :first-child {
  margin-bottom: calculaterem(30px);
}

.news-grid__item {
  border-top: $border-top;
}

.news-grid__item-thumbnail {
  width: 100%;
}

.news-grid__item-text {
  line-height: 36px;
  font-size: 26px;
  font-weight: 800;
}
