.vacancies {
  padding-top: 5.5625rem;
  padding-bottom: 6.25rem;
  background-image: url('../images/home-background.png');
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
}

.vacancy__title {
  margin-bottom: 2.8125rem;
  @include header_1;
}

.vacancy-sidebar {
  //padding: 0 calculaterem(14px);
  align-items: start;
}

@include media-breakpoint-up(lg) {
  .vacancy-sidebar {
    //padding: 0 calculaterem(33px);
  }
}

.vacancy-sidebar___header {
  @include header_2;
  color: $white;
  padding-top: calculaterem(29px);
  margin-bottom: calculaterem(17px);
}

.vacancy-sidebar___text {
  font-size: calculaterem(15px);
  line-height: calculaterem(24px);
}

@include media-breakpoint-up(lg) {
  .vacancy-sidebar___text {
    min-height: calculaterem(546px);
  }
}

.vacancy-sidebar___button {
  height: calculaterem(48px);
  width: calculaterem(165px);
  margin-bottom: calculaterem(32px);
  @include bold_1;
}

//.vacancy__lists {}
//.vacancy__item {}
.vacancy-tab {
  margin-bottom: 2rem;
}

.vacancy-tab__top {
  width: 8.25rem;
  height: 3rem;
  background: $black;
  text-align: center;
  @include bold_2;
}

.vacancy-tab__content {
  border: 0 !important;
  border-top: $border-top !important;
  box-shadow: $box-shadow-sm !important;
  background: $white;
}

.vacancy-tab__header {
  @include header_2;
}

.vacancy-tab__subheader {
  line-height: calculaterem(29px);
  font-size: calculaterem(22px);
  margin-bottom: calculaterem(28px);
}

.vacancy-tab__body {
  line-height: calculaterem(24px);
  font-size: calculaterem(16px);
  margin-bottom: calculaterem(32px);
}

.vacancy-tab__link {
  @include bold_1;
}
