.vacancy-card {
  padding: calculaterem(32px) calculaterem(30px) calculaterem(19px) calculaterem(30px);
  margin-bottom: calculaterem(32px);
  line-height: calculaterem(24px);
  font-size: calculaterem(16px); //width: calculaterem(672px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__header-wrapper {
    margin-bottom: calculaterem(12px);
  }
}

.vacancy-card__header {
  line-height: calculaterem(22px);
  font-size: calculaterem(19px);
  height: calculaterem(58px);
  margin-bottom: calculaterem(6px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__header {
    margin-bottom: 0;
  }
}

.vacancy-card__subheader {
  line-height: calculaterem(25px);
  font-size: calculaterem(14px);
  margin-bottom: calculaterem(16px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__subheader {
    margin-bottom: 0;
  }
}

.vacancy-card__figure {
  width: calculaterem(145px);
  height: calculaterem(113px);
  margin-bottom: calculaterem(8px);
}

.vacancy-card__image {
  max-width: calculaterem(114px);
  max-height: calculaterem(76px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__figure {
    margin-bottom: 0;
  }
}

.vacancy-card__body {
  padding: 0;
  margin-bottom: calculaterem(8px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__body {
    padding: 0;
    margin-bottom: calculaterem(6px);
  }
}

.vacancy-card__text {
  margin: 0;
}

.vacancy-card__link {
  line-height: calculaterem(26px);
  font-size: calculaterem(16px);
  font-family: $headings-font-family;
  display: block;
  margin-top: calculaterem(10px);
}

@include media-breakpoint-up(md) {
  .vacancy-card__link {
    display: inline;
    padding-left: 10rem;
  }
}

.vacancy-card__footer {
  padding: 0;
  background-color: $white;
  border-top: 0;
  line-height: calculaterem(29px);
  font-size: calculaterem(14px);
  font-family: $headings-font-family;
}
