.vacancy-card {
  padding: calculaterem(32px) calculaterem(30px) calculaterem(19px) calculaterem(30px);
  margin-bottom: calculaterem(32px);
  line-height: calculaterem(24px);
  font-size: calculaterem(16px); //width: calculaterem(672px);
}

.vacancy-card__header-wrapper {
  margin-bottom: calculaterem(15px);
}

.vacancy-card__header {
  line-height: calculaterem(22px);
  font-size: calculaterem(19px);
  height: calculaterem(58px);
}

.vacancy-card__subheader {
  line-height: calculaterem(25px);
  font-size: calculaterem(14px);
}

.vacancy-card__body {
  padding: 0;
  margin-bottom: calculaterem(6px);
}

.vacancy-card__text {
  margin: 0;
}

.vacancy-card__link {
  line-height: calculaterem(26px);
  font-size: calculaterem(16px);
  font-family: $headings-font-family;
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 55px;
    right: 170px;
  }
}

.vacancy-card__footer {
  padding: 0;
  background-color: $white;
  border-top: 0;
  line-height: calculaterem(29px);
  font-size: calculaterem(14px);
  font-family: $headings-font-family;
}
